<% var item, key %> <%
htmlWebpackPlugin.options.appMountIds = htmlWebpackPlugin.options.appMountIds || [] %> <%
htmlWebpackPlugin.options.lang = htmlWebpackPlugin.options.lang || "en" %> <%
htmlWebpackPlugin.options.links = htmlWebpackPlugin.options.links || [] %> <%
htmlWebpackPlugin.options.meta = htmlWebpackPlugin.options.meta || [] %> <%
htmlWebpackPlugin.options.scripts = htmlWebpackPlugin.options.scripts || [] %>
<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
<head>
    <!--Meta-->
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <% if (htmlWebpackPlugin.options.mobile) { %>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <% } %>
    <!--Title-->
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!--Icon-->
    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link href="<%= htmlWebpackPlugin.files.favicon %>" rel="shortcut icon"/>
    <% } %>
    <!--Links-->
    <% for (item of htmlWebpackPlugin.options.links) { %><%
        if (typeof item === 'string' || item instanceof String) {
            item = {href: item, rel: 'stylesheet'}
        } %>
    <link<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %> />
    <% } %>
    <% for (item in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[item] %>">
    <% } %>
</head>
<body>
<%
if (htmlWebpackPlugin.options.appMountId) { %>
    <div id="<%= htmlWebpackPlugin.options.appMountId %>" style="display:initial"></div>
<% } %>
<%
for (item of htmlWebpackPlugin.options.scripts) { %><%
    if (typeof item === 'string' || item instanceof String) {
        item = {src: item, type: 'text/javascript'}
    } %>
    <script<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>></script>
<% } %>
<%
for (key in htmlWebpackPlugin.files.chunks) { %><%
if (htmlWebpackPlugin.files.jsIntegrity) { %>
    <script
            src="<%= htmlWebpackPlugin.files.chunks[key].entry %>"
            type="text/javascript"
            integrity="<%= htmlWebpackPlugin.files.jsIntegrity[htmlWebpackPlugin.files.js.indexOf(htmlWebpackPlugin.files.chunks[key].entry)] %>"
            crossorigin="<%= webpackConfig.output.crossOriginLoading %>"></script><%
} else { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script><%
} %>
<% } %>

</body>
</html>
